/*==============================
=          RESPONSIVO          =
==============================*/

/* Tablets en horizonal y escritorios normales
------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1300px) {
    :root {
        font-size: 15px;
    }

    .menu__enlace-oculto {
        display: none;
    }

    .menu__oculto {
        display: inline-block;
    }

    .destacados__contenedor {
        width: 70%;
    }

    .conocenos__contenedor {
        gap: 65px 2%;
    }

    .conocenos {
        width: 49%;
    }

    .conocenos-Tablet {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
}
/* 1050PX */
@media screen and (max-width: 1050px) {
    .mensaje__contenedor {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
    }

    .mensaje__texto {
        width: 100%;
        height: 400px;
    }

    .mensaje__imagen {
        width: 100%;
        height: auto;
        -webkit-transform: translateX(-5px);
            -ms-transform: translateX(-5px);
                transform: translateX(-5px);
    }

    .departamentos__titulos {
        text-align: center;
    }
}
/* 980PX */
@media screen and (max-width: 980px) {

    .header__menu,
    .header__lista {
        display: none;
    }

    .boton__movil {
        display: inline-block;
    }

    .destacados__contenedor {
        width: 90%;
    }


    .educacion__texto {
        width: 80%;
    }

    .footer__contenedor {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
    }

    .footer__seccion-Ocultar {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / 3;
    }
    .footer__banner{
        width: 100%;
        height: auto;
    }
    .oferta__imagen {
        width: 100%;
        height: 300px;
    }

    .oferta__img {
        margin-left: 0;
    }

    .oferta__texto {
        position: relative;
        top: 0%;
        right: 0;
        padding: 10px 0;
        width: 100%;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .concursos__contenedor {
        padding: 0;
    }
}
/* Móviles en horizontal o tablets en vertical */
/* 767PX */
@media (max-width: 767px) {
    :root {
        font-size: 14px;
    }

    .video {
        width: 100%;
    }

    .notas__contenedor {
        gap: 20px;
    }

    .notas {
        width: 45vw;
    }

    .conocenos__contenedor {
        gap: 65px 1%;
    }

    .conocenos {
        width: 49%;
    }

    .conocenos-Tablet {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
}
/* 760PX */
@media screen and (max-width: 760px) {
    .header__informacion{
        display: none;
    }
    .header__logos__dgeti-sems{
        width: 170px;
    }
    .header__frase{
        text-align: center;
    }
    .header__contenedor__informacion{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .header__contenedor__texto{
        width: 100%;
    }
    .contenedor__logos__dgeti-sems{
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 20px;
    }
    .header__contenedor__botones{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .destacados__contenedor {
        width: 100%;
    }

    .destacados__seccion-Desaparace {
        display: none;
    }

    .destacados__seccion {
        width: 42vw;
        height: 42vw;
    }

    .destacados__seccion-Movil {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .destacados__titulo {
        font-size: 1rem;
    }

    .titulacion__tarjeta {
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }

    .titulacion__texto {
        height: auto;
    }

    .contacto__informacion {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .contacto__movil,
    .contacto__formulario,
    .contacto__seccion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
    }

    .contacto__mapa,
    .formulario__campos {
        width: 98vw;
    }
}
/* 640PX */
@media screen and (max-width: 640px) {
    .noticias__subtitulo {
        display: block;
    }

    .noticias__splide {
        padding: 0 0 3em 0;
    }

    .educacion__contenedor {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        height: auto;
        max-height: -webkit-max-content;
        max-height: -moz-max-content;
        max-height: max-content;
    }

    .educacion__imagen,
    .educacion__img,
    .educacion__texto {
        width: 100%;
    }

    .educacion__texto {
        height: 100vw;
    }

    .educacion__titulo {
        font-size: 2rem;
    }

    .lista__elemento::before {
        left: -0.25rem;
        margin-top: -0.95rem;
        height: 1.75rem;
        width: 1.75rem;
    }

    .jovenes__texto {
        padding: 20px;
    }

    .jovenes__parrafo-Oculto {
        display: none;
    }

    .footer__logos {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 10px;
    }

    .footer__logo {
        height: 70px;
    }

    .conocenos__contenedor {
        padding: 0;
    }

    .conocenos {
        width: 100%;
    }

    .conocenos-Tablet {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
    }

    .etica__contenedor {
        padding: 1%;
    }

    .etica__parrafo {
        text-align: center;
    }

    .mensaje__contenedor {
        padding: 20px;
        gap: 20px;
    }

    .splide__historia {
        padding: 3rem 0;
    }

    .historia__img {
        width: 100%;
        height: auto;
    }

    .oferta__splide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        padding: 0 1rem;
    }

    .oferta__pagination {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative;
    }

    .oferta__pagination__page {
        margin: 15px 0;
    }

    .concursos {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        padding: 20px 10px;
    }

    .concursos__texto {
        text-align: center;
    }

    .concursos__texto,
    .concursos__imagen {
        width: 100%;
    }
}
@media screen and (max-width: 580px) {
    .header__titulo {
        font-size: 4rem;
    }
    .header__logo{
        width: 120px;
    }
    .header__contenedor__logo{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .contenedor__logos__dgeti-sems{
        display: none;
    }
    .header{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
/* Móviles en vertical
480PX
------------------------------------------------------------------------- */
@media (max-width: 480px) {
    .header__contenedor__botones{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .header__frase {
        font-size: 1.5rem;
        margin: 0 20px;

    }
    .video__mostrar, .boton__blanco{
        width: 200px;
        text-align: center;
    }
    .menu__titulo {
        font-size: 1.5rem;
    }

    .apartados__titulo {
        font-size: 2rem;
    }

    .noticias__subtitulo {
        display: block;
    }

    .capa::before,
    .capa::after {
        height: 15px;
        width: 15px;
    }

    .capa::before {
        border-bottom: 3px solid var(--blanco);
        border-left: 3px solid var(--blanco);
    }

    .capa::after {
        border-top: 3px solid var(--blanco);
        border-right: 3px solid var(--blanco);
    }

    .jovenes__slider {
        padding: 0 0 2rem 0;
    }

    .jovenes__descripcion {
        padding: 5%;
    }

    .jovenes__desliza {
        display: block;
    }

    .footer__contenedor {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .footer__seccion-Ocultar {
        display: none;
    }

    .oferta__splide {
        padding: 0;
    }

    .oferta__texto {
        padding: 10px;
    }

    .oferta__imagen {
        height: 200px;
    }

    .especialidades__splide .splide__arrow {
        display: none;
    }

    .especialidades__splide {
        padding: 3rem 1%;
    }

    .especialidades__splide .splide__pagination__page {
        display: inline-block;
        background-color: #ccc;
    }

    .especialidades__splide .splide__pagination__page:hover {
        background-color: var(--rosa);
    }

    .especialidades__splide .splide__pagination__page.is-active {
        background-color: var(--rosa);
    }

    .titulacion__tarjeta {
        width: 95%;
    }
}

/* =====  End of RESPONSIVO  ====== */