/*==============================
=            GLOBAL            =
==============================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*DECLARACIÓN DE LAS VARIABLES Y ESTILOS PRINCIPALES*/

:root {
    font-size: 16px;
    --font-titulo: "Poppins", sans-serif;
    --font-parrafo: "Raleway", sans-serif;
    --rosa: #a22245;
    --blanco: #fff;
    --negro: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-parrafo);
}

*::selection {
    background: var(--blanco);
    color: var(--rosa);
}

/*=====  End of GLOBAL  ======*/

/** Css Notas */
.body__notas{
    background-color: #f3f3f3;
}

.ver__menos, .ver__mas {
    text-decoration: none;
}

.notas__titulo {
    font-family: var(--font-titulo);
    text-align: center;
    color: var(--rosa);
    margin: 20px;
}

.notas__linea {
    width: 50%;
    height: 4px;
    background-color: var(--rosa);
    border: none;
    margin-left: 25%;
}   

.notas__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nota__espacio {
    width: 350px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 12px 10px rgb(100, 100, 100);
    border-radius: 10px;
}
.sobre__imagen{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #a22244c9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease; 
    opacity: 0;
    backdrop-filter: blur(6px);
}
.notas__img:hover ~ .sobre__imagen{
    opacity: 1;

}
.sobre__imagen:hover{
    opacity: 1;
    
}
.enlace__imagen{
    text-decoration: none;
    color: var(--blanco);
    background-color: transparent;
    padding: 10px 20px;
    transition: all .5s ease;
    border: 4px solid #ffffff;
    border-radius: 50px;
}
.enlace__imagen:hover{
    background-color: var(--blanco);
    color: var(--rosa);

}
.nota__espacio-horizontal {
    width: 750px;
}

.notas__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.nota__espacio-cover img{
    object-fit: cover;
}


.button__cont {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}
.cerrar__ventana{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}


.ver__mas, .ver__menos {
    background-color: var(--rosa);
    color: var(--blanco);
    font-family: var(--font-parrafo);
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: opacity .5s ease;
}

.ver__mas:hover, .ver__menos:hover {
    opacity: .7;
}
