.oferta__contenedor{
    display: flex;
    background-image: linear-gradient(120deg, var(--rosa) 0%, #a2224475 100%);
    color: var(--blanco);
    justify-content: space-around;
    padding: 50px 0;
    position: relative;
} 
.oferta__titulo{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0 auto 25px;
    font-family: var(--font-titulo);
}
.oferta__texto{
    text-align: justify;
    line-height: 1.3;
    width: 50%;
    height: 400px;
    overflow-y: scroll;
    padding: 20px;
}
.oferta__texto::-webkit-scrollbar{width: 1px;}
.oferta__texto::-webkit-scrollbar-thumb{
    background-color: var(--blanco);
}
.oferta__parrafo{font-size: 1.2rem;}
.oferta__img{
    height: 400px;
    border: 5px solid var(--blanco);
    box-shadow: 20px 20px 0px rgb(255, 255, 255);
}
.oferta__texto::before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    border-left: 5px solid var(--blanco);
    border-bottom: 5px solid var(--blanco);
    bottom: 20px;
    left: 20px;
}
.oferta__texto::after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    border-top: 5px solid var(--blanco);
    border-right: 5px solid var(--blanco);
    right: 20px;
    top: 20px;
}
.especialidades__splide{background-color: #00000077;}
.especialidades__tarjetas{
    height: 500px;
    width: 300px;
    margin: auto;
    background-color: var(--blanco);
}
.especialidades__img{
    width: 100%;
    object-fit: cover;
}
.especialidades__texto{padding: 20px;}
.especialidades__tecnico{
    color: var(--rosa);
    font-weight: 700;
}
.especialidades__subtitulo{
    color: var(--blanco);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.especialidades__titulo{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 5px 0;
}
.especialidades__splide .splide__arrow svg{fill: var(--blanco);}
.especialidades__splide .splide__arrow svg:hover{fill: var(--blanco);}
.especialidades__splide .splide__pagination__page{display: none;}