/*==============================
=           CONOCENOS          =
==============================*/

/* CONOCENOS */
.conocenos__contenedor{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
  gap: 1%;
}
.conocenos {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: var(--gris);
  color: var(--blanco);
  text-align: center;
  padding: 55px 25px 55px 25px;
  position: relative;
}
.conocenos-Rosa {background-color: var(--rosa);}
.conocenos-Rosa *::-moz-selection {
  background-color: var(--blanco);
  color: var(--rosa);
}
.conocenos-Rosa *::selection {
  background-color: var(--blanco);
  color: var(--rosa);
}
.conocenos__icon {
  background-color: #f1f1f1;
  border-radius: 50%;
  font-size: 3rem;
  padding: 25px;
  color: var(--rosa);
  position: absolute;
  box-shadow: 0px 0px 10px var(--gris);
  top: -50px;
}
.conocenos__icon-Gris {color: var(--gris);}
.conocenos__titulos {font-size: 1.75rem;}

/* CODIGO DE ETICA */
.etica__contenedor{padding: 0 20%;}
.etica__lista{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* MENSAJE DEL DIRECTOR */
.mensaje__contenedor {
  display: flex;
  justify-content: center;
  padding: 40px 10%;
  background-color: var(--gris-claro);
  height: 630px;
}
.mensaje__texto {
  width: 50%;
  line-height: 2;
  overflow-y: scroll;
  height: 100%;
  text-align: justify;
}
.mensaje__texto::-webkit-scrollbar {width: 2px;}
.mensaje__texto::-webkit-scrollbar-thumb {
  background: var(--gris);
  border-radius: 10px;
}
.mensaje__parrafo {margin: 10px 10px 0 0;}
.mensaje__titulo {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 10px 0;
}
.mensaje__centrado {text-align: center;}
.mensaje__negrita {font-weight: 600;}
.mensaje__imagen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mensaje__img {
  width: 100%;
  height: 100%;
}

/* HISTORIA */
.splide__historia {
  display: flex;
  justify-content: center;
}
.splide__historia .splide__arrows .splide__arrow--prev {top: 0;}
.splide__historia .splide__arrows .splide__arrow--next {bottom: 0;}
.splide__historia .splide__arrows svg {fill: var(--rosa);}
.historia__img {height: 100%;}
/*=====  End of CONOCENOS  ======*/

/*==============================
=         DEPARTAMENTOS       =
==============================*/

/* ADMNISNISTRACION */
.departamentos__contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(243, 243, 243);
  padding: 2rem 3%;
}
.departamentos__titulos{
  text-transform: uppercase;
  color: var(--rosa);
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.admnistracion__lista{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.icono__pdf{
  color: var(--rosa);
  font-size: 2rem;
}
.admnistracion__enlace{
  text-decoration: none;
  color: var(--negro);
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.admnistracion__enlace:hover {
  transform: translateX(5px);
  color: var(--rosa);
}

/* DOCENTE */
.docentes__contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.departamentos__centrado{text-align: center;}
.docentes__tarjeta{
  position: relative;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  
  border: 3px solid var(--rosa);
}
.docentes__imagen{
  width: 100%;
  background-color: #fff;
}
.docentes__img{
  width: 100%;
  padding: 40px 15px;
}
.docentes__texto {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--rosa);
  padding: 15px;
}
.docentes__parrafo{
  text-align: center;
  color: var(--blanco);
  font-weight: bold;
}
.docentes__tarjeta:hover > .capa {
  opacity: 1;
  transform: scale(1);
}
.docentes__enlace:hover {
  background-color: var(--blanco);
  color: var(--rosa);
}
/*=====  End of DEPARTAMENTOS =====*/

/*==============================
=           ALUMNOS          =
==============================*/

/* OFERTA ACADEMICA */
.oferta__parrafo {word-spacing: 2px;}
.oferta__arrows {display: none;}
.oferta__pagination {
  position: absolute;
  top: -100%;
}
.oferta__pagination__page {
  margin: 5px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background: none;
}
.oferta__pagination__page:hover{background: none;}
.oferta__pagination__page.is-active {
  border-bottom: 2px solid var(--rosa);
  color: var(--rosa);
  background: none;
}
.oferta__imagen {
  width: 50%;
  height: 500px;
}
.oferta__img {
  width: 100%;
  height: 100%;
  margin-left: 10%;
  -o-object-fit: cover;
     object-fit: cover;
}
.oferta__texto {
  position: absolute;
  border-radius: 3px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  right: 5%;
  padding: 10px;
  width: 45%;
  background-color: var(--blanco);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}
.oferta__titulo {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--rosa);
}

/* ESPECIALIDADES */
.especialidades__splide {background-color: var(--gris);}
.especialidades__tarjetas {
  height: 500px;
  width: 300px;
  margin: auto;
  background-color: var(--blanco);
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.especialidades__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.especialidades__texto {padding: 20px;}
.especialidades__tecnico {
  color: var(--rosa);
  font-weight: 700;
}
.especialidades__subtitulo {
  color: var(--blanco);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.especialidades__titulo {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 4px 0;
}
.especialidades__tarjetas:hover > .capa {
  opacity: 1;
  transform: scale(1);
}
.especialidades__enlace:hover {
  background: var(--blanco);
  color: var(--rosa);
}
.especialidades__splide .splide__arrow svg {fill: var(--blanco);}
.especialidades__splide .splide__arrow svg:hover {fill: var(--blanco);}
.especialidades__splide .splide__pagination__page {display: none;}

/* TITULACION */
.titulacion__descripcion {
  padding: 0 10%;
  font-size: 1.2rem;
  margin-bottom: 50px;
}
.titulacion__contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1%;
  gap: 20px;
  flex-wrap: wrap;
}
.titulacion__tarjeta {
  display: flex;
  flex-direction: column;
  width: 350px;
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.titulacion__tarjeta *::-moz-selection {
  background-color: var(--blanco);
  color: var(--rosa);
}
.titulacion__tarjeta *::selection {
  background-color: var(--blanco);
  color: var(--rosa);
}
.titulacion__img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.titulacion__texto {
  padding: 20px;
  color: var(--blanco);
  background-color: var(--rosa);
  height: 420px;
}
.titulacion__subtitulo {
  color: var(--gris-claro);
  font-weight: 700;
}
.titulacion__titulo {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 10px 0;
}
/*=====  End of ALUMNOS ======*/

/*==============================
=         TRANSPARENCIA        =
==============================*/
.transparencia__img {
  width: 100%;
  max-width: 800px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: block;
  margin: auto;
}
/*=====  End of TRANSPARENCIA ======*/

/*==============================
=           CONCURSOS          =
==============================*/
.concursos__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}
.concursos {
  width: 100%;
  max-width: 1100px;
  display: flex;
  padding: 3rem 2rem;
  gap: 2rem;
  position: relative;
}
.concursos::before{
  
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  transform: scaleX(.005);
  transform-origin: left;
  transition: all .3s ease;
  z-index: -1;
}
.concursos-verde::before{background-color: #6dbb24;}
.concursos-azul::before{background-color: #38bd9b;}
.concursos-cafe::before{background-color: #b65f2c;}
.concursos-azulOscuro::before{background-color: #000269;}
.concursos-morado::before{background-color: #8746ff;}
.concursos-rojo::before{background-color: #ff2929;}
.concursos-naranja::before{background-color: #ff9100;}
.concursos:hover::before {transform: scaleX(1);}
.concursos:hover .concursos__texto, .concursos:hover .concursos__titulo{color: var(--blanco);}
.concursos__texto {width: 70%;}
.concursos__titulo {
  font-family: var(--font-titulo);
  color: var(--rosa);
  font-size: 1.5rem;
  text-transform: uppercase;
}
.concursos__parrafo{margin: 15px 0; text-align: justify;}
.concursos__boton:hover{
  background-color: var(--blanco);
  color: var(--rosa);
}
.concursos__imagen {
  width: 30%;
  display: flex;
  align-items: center;
}
.concursos__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*=====  End of CONCURSOS ======*/

/*==============================
=           CONTACTO          =
==============================*/
.contacto__titulos{
  font-family: var(--font-titulo);
  color: var(--rosa);
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.contacto__informacion{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem 0;
}
.contacto__enlace{
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--negro);
  font-weight: 600;
}
.contacto__icono{
  font-size: 2rem;
  color: var(--rosa);
}
.contacto__enlace:hover .contacto__parrafo {
  transition: all 0.5s ease;
  transform: translateX(5px);
}
.contacto__seccion{
  display: flex;
  justify-content: space-around;
  background-color: var(--gris-claro);
  padding: 20px 0;
  margin-bottom: 1rem;
}
.contacto__mapa{
  margin-top: 1rem;
  
  border: 1px solid var(--rosa);
  width: 40vw;
  height: 450px;
}
.contacto__formulario {
  width: 700px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.formulario__campos {
  width: 48%;
  outline: 0;
  border: 2px solid rgb(240, 240, 240);
  margin: 0.5rem 0;
  display: inline;
  
  padding: 12px 20px;
  font-family: var(--font-parrafo);
  font-weight: 400;
}
.formulario__campos:focus {border: 2px solid var(--rosa);}
.formulario__comentarios {
  width: 100%;
  height: 8rem;
  resize: vertical;
}
.contacto__boton {
  padding: 10px 30px;
  margin: 0 auto;
}
/*=====  End of CONTACTO ======*/

/*==============================
=           CONTACTO          =
==============================*/
.horarios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--gris-claro);
  padding: 40px 20px;
  gap: 20px;
}
.horarios__titulo {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.horarios__flipcard {
  width: 350px;
  aspect-ratio: 1;
  perspective: 1000px;
}
.horarios__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .7s;
  transform-style: preserve-3d;
}
.horarios__flipcard:hover .horarios__inner {transform: rotateY(180deg);}
.horarios__enfrente,
.horarios__trasero {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}
.horarios__enfrente {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -o-object-position: center;
     object-position: center;
  pointer-events: none;
}
.horarios__img{
  height: 100%;
  width: 100%;
}
.horarios__subtitulo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.568);
  color: var(--blanco);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: var(--font-titulo);
  font-weight: 600;
}
.horarios__trasero {
  background-color: var(--rosa);
  color: var(--blanco);
  transform: rotateY(180deg);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
}
.horarios__especialidad {
  text-transform: uppercase;
  font-size: 1.25rem;
}
.horarios__semestre {
  margin: 5px 0 10px 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(238, 238, 238);
}
.horarios__boton {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  background-color: var(--blanco);
  border: 2px solid var(--gris-claro);
  cursor: pointer;
  /* text-transform: uppercase; */
  padding:  6px 10px;
}
.horarios__boton__icon{
  font-size: 1.5rem;
}
.horarios__dropdown {
  display: flex;
  flex-direction: column;
  transition: all .3s ease-in-out;
  transform-origin: top;
  transform: scaleY(0);
  background-color: var(--blanco);
  border: 2px solid var(--gris-claro);
  border-top: none;
  max-height: 160px;
  overflow-y: scroll;
}
.horarios__dropdown::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.horarios__dropdown::-webkit-scrollbar-thumb {
  background-color: var(--gris);
  border-radius: 3px;
}
.horarios__enlace {
  text-decoration: none;
  color: var(--rosa);
  padding: 10px;
  font-weight: 700;
  transition: all .3s ease;
  text-transform: uppercase;
}
.horarios__enlace:hover {
  background-color: var(--gris-claro);
  color: var(--negro);
}
.horarios__boton:focus+.horarios__dropdown {transform: scaleY(1);}
.horarios__dropdown:hover {transform: scaleY(1);}
.horarios__logo{
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: rgba(255, 255, 255, 0.267);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  font-family: var(--font-titulo);
}
.horarios__icono{font-size: 2rem;}
/*=====  End of CONTACTO ======*/