/*==============================
=            GLOBAL            =
==============================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*DECLARACIÓN DE LAS VARIABLES Y ESTILOS PRINCIPALES*/
:root {
    font-size: 16px;
    --font-titulo: "Poppins", sans-serif;
    --font-parrafo: "Raleway", sans-serif;
    --rosa: #a22245;
    --blanco: #fff;
    --negro: #000;
    --gris: #505050;
    --gris-claro: #ececec7e;
    --gris-oscuro: #303030;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: var(--font-parrafo);
}

/*MODIFICACIÓN DEl SELECTOR DE CONTENIDO*/
*::selection {
    color: var(--blanco);
    background-color: var(--rosa);
}

/*MODIFICACIÓN DE LA BARRA LATERAL DE NAVEGACIÓN*/
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: var(--rosa);
    border-radius: 10px;
}

/* PRELOADER */
.loader {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    background-color: #fff;
}

.loader__onda {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loader__halo {
    position: absolute;
    border: 4px solid var(--rosa);
    opacity: 1;
    border-radius: 50%;
    animation: loader__onda 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader__halo:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loader__onda {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

/*=====  End of GLOBAL  ======*/

/*==============================
=     ELEMENTOS GLOBALES      =
==============================*/
.elemento__enlace::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--rosa);
    z-index: 1;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}

.elemento__enlace:hover::before {
    transform: scaleX(1);
}

.boton {
    border: none;
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--rosa);
    padding: 20px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 3px;

    text-transform: uppercase;
}

.apartados__titulo {
    color: var(--rosa);
    font-family: var(--font-titulo);
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 50px 10px;
}

.lista__elemento {
    position: relative;
    display: block;
    padding: 7px 7px 7px 2rem;
    background: #ddd;
    color: #444;
    border-radius: 30px;
    transition: all 0.3s ease-out;
}

.lista__elemento:hover {
    background: #eee;
}

.lista__elemento::before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 50%;
    margin-top: -1.3rem;
    background: var(--rosa);
    height: 2rem;
    width: 2rem;
    line-height: 2vw;
    border: 0.3vw solid var(--blanco);
    border-radius: 50%;
    transition: all 0.3s ease-out;
}

.capa {
    top: 0;
    position: absolute;
    display: flex;
    background-color: #000000d3;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    opacity: 0;
    backdrop-filter: blur(2px);
    transform: scale(.8);

}

.capa::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    border-bottom: 5px solid var(--blanco);
    border-left: 5px solid var(--blanco);
    left: 10px;
    bottom: 10px;
}

.capa::after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    border-top: 5px solid var(--blanco);
    border-right: 5px solid var(--blanco);
    right: 10px;
    top: 10px;
}

.splide__arrow--next {
    right: 5px;
}

.splide__arrow--prev {
    left: 5px;
}

/*=====  End of ELEMENTOS GLOBALES  ======*/

/*==============================
=              HEADER           =
==============================*/
.header {
    height: 100vh;
    background: no-repeat center/100% url("../assets/images/header.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-shadow: 10px 10px 20px #000; */
    text-align: center;
    gap: 35px;
    color: var(--blanco);
    font-weight: 700;
}

.header__titulo {
    font-size: 5rem;
    font-family: var(--font-titulo);
    margin-bottom: -25px;
}

.header__frase {
    font-size: 3rem;
}

.header__lista {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__enlace {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--blanco);
    position: relative;
}

/* ESTILOS PARA EL VIDEO Y SUS ELEMENTOS */
.video__contenedor {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 900;
    position: fixed;
    top: 0;
    display: none;
}

.video {
    width: 70%;
    transform: scale(0);
}

.video__cerrar {
    font-size: 2rem;
    font-weight: 700;
}

.video__ocultar {
    position: absolute;
    top: 25px;
    right: 25px;
    border: none;
    border-radius: 50%;
    background-color: var(--blanco);
    padding: 10px;
    transition: background 0.5s ease;
    cursor: pointer;
}

.video__ocultar:hover {
    background-color: var(--rosa);
    color: var(--blanco);
}

/* ESTILOS PARA EL MENU PRINCIPAL */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--blanco);
    color: var(--rosa);
    width: 100%;
    z-index: 700;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.menu__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu__titulo {
    font-family: var(--font-titulo);
    font-size: 2rem;
    font-weight: 800;
}

.menu__img {
    width: 70px;
}

.menu__enlace {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--rosa);
    position: relative;
}

.menu__boton {
    padding: 14px;
}

.menu__oculto {
    display: none;
}

.dropdown {
    position: relative;
}

.dropmenu {
    position: absolute;
    background-color: var(--blanco);
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    text-align: center;
    pointer-events: none;
    transform: translateY(-50px);
    padding: 25px;
    opacity: 0;
    right: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu__boton:focus~.dropmenu {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all;
}

.dropmenu:hover {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all;
}

.boton__movil {
    color: var(--rosa);
    cursor: pointer;
    background-color: transparent;
    display: none;
    border: none;
}

/* MENU MOVIL */
.menu__movil,
.menu__semestres {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(2px);
    transition: all 0.5s ease;
    z-index: 800;
}

.movil__lista,
.semestres__lista {
    background-color: var(--rosa);
    display: flex;
    width: 100%;
    bottom: 0;
    position: absolute;
    flex-direction: column;
    transition: all 0.5s ease;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    transform: translateY(100%);
    transition: all 0.5s ease;
}

.semestres__lista {
    background-color: var(--blanco);
}

.movil__enlace {
    pointer-events: all;
    display: block;
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 15px;
    transition: all 0.5s ease;
    border: none;
}

.movil__enlace:hover {
    background-color: var(--blanco);
    color: var(--rosa);
}

.movil__horarios {
    background-color: var(--blanco);
    color: var(--rosa);
    cursor: pointer;
    text-align: center;
}

.horarios__enlaces {
    color: var(--rosa);
}

.toggle__contenedor__menu {
    opacity: 1;
    pointer-events: all;
}

.toggle__menu {
    transform: translateY(0);
}

/*=====  End of HEADER  ======*/

/*==============================
=              MAIN            =
==============================*/

/* NOTICIAS */

.noticias__splide {
    background-color: rgb(247, 247, 247);
}

.noticias__contenido {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 10px;
}

.noticias__subtitulo {
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5em 0;
    background-color: var(--gris-claro);
    display: none;
}

.noticias__img {
    width: 100%;
    aspect-ratio: 2;
}

.noticias__titulo {
    color: var(--rosa);
    font-family: var(--font-titulo);
    font-size: 1.5rem;
}

.noticias__enlace {
    padding: 20px;
}

.noticias__splide svg {
    fill: var(--rosa);
}

.noticias__splide:hover svg {
    fill: var(--rosa);
}

.noticias__pagination__pages.is-active {
    background-color: var(--rosa);
}

.noticias__pagination__pages:hover {
    background-color: var(--rosa);
    opacity: 0.7;
}

.noticias__pagination__pages {
    background: #E0CAD5;
}

.splide__progress__noticias {
    background: #ccc;
    margin: 3em 10px 0px 10px;
}

.splide__progress__bar__noticias {
    background: var(--rosa);
    height: 4px;
    transition: width 400ms ease;
    width: 0;
}

/* DESTACADOS */
.destacados__contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}

.destacados__img {
    height: 100%;
    object-fit: cover;
}

.destacados__seccion {
    width: 300px;
    height: 300px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: var(--rosa);
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    border-radius: 3px;

    gap: 10px;
}

.destacados__titulo {
    text-align: center;
    color: var(--blanco);
    font-size: 1.2rem;
}

.destacado__division {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50%;
}

.destacado__icon {
    color: var(--rosa);
    background-color: var(--blanco);
    font-size: 2rem;
    padding: 20px;
    border-radius: 3px;

}

.destacados__seccion-Movil {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 42vw;
    height: 42vw;
    gap: 10px;
}

.destacado__division-Movil {
    flex-direction: row;
    padding: 0 10px;
}

.destacado__icon-Movil {
    padding: 10px;
    font-size: 1.5rem;
}

/* EDUCACION */
.educacion__contenedor {
    display: flex;
    height: calc(50vw * 90 / 100);
    max-height: 650px;
    justify-content: center;
}

.educacion__img {
    height: 100%;
}

.educacion__texto {
    width: 60%;
    padding: 0 2% 2%;
    overflow: auto;
    font-weight: 600;
}

.educacion__texto * {
    margin: 10px 0;
}

.educacion__titulo {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--rosa);
}

.educacion__subtitulo {
    font-size: 1.5rem;
    color: var(--rosa);
}

/* NOTICIAS */
.notas__contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.125rem;
}

.notas {
    position: relative;
    width: 350px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
}

.notas__img {
    width: 100%;
    height: 100%;
}

.notas:hover>.capa {
    opacity: 1;
    transform: scale(1);
}

.notas__enlace:hover {
    background-color: var(--blanco);
    color: var(--rosa);
}

.notas__mas {
    display: block;
    margin: 20px auto;
    width: max-content;
}

/* JOVENES EN CASA */
.jovenes__contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jovenes__texto {
    background-color: var(--rosa);
    color: var(--blanco);
    width: 600px;
    padding: 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.jovenes__texto *::selection {
    background-color: var(--blanco);
    color: var(--rosa);
}

.jovenes__titulo {
    font-size: 2rem;
}

.jovenes__slider {
    width: 600px;
    background-color: var(--rosa);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jovenes__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.jovenes__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jovenes__descripcion {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #000000c0;
    color: var(--blanco);
    padding: 20px;
    font-weight: bolder;
    backdrop-filter: blur(2px);
}

.jovenes__icono {
    font-size: 5rem;
    color: #000000c0;
}

.jovenes__icono:hover {
    color: var(--negro);
}

.jovenes__desliza {
    color: var(--blanco);
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
    display: none;
}

.jovenes__slider svg {
    fill: var(--blanco);
}

.jovenes__slider:hover svg {
    fill: var(--blanco);
}

.jovenes__pagination__pages.is-active {
    background-color: var(--blanco);
}

.jovenes__pagination__pages:hover {
    background-color: var(--blanco);
    opacity: 0.7;
}

.jovenes__pagination__pages {
    background: rgba(255, 255, 255, 0.308);
}

/*=====  End of MAIN  ======*/

/*==============================
=              FOOTER          =
==============================*/
.footer__contenedor {
    margin-top: 9rem;
    background-color: var(--gris);
    color: var(--blanco);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 2rem 2rem 0 2rem;
}

.footer__seccion,
.footer__contacto,
.footer__lista,
.footer__phones {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.footer__titulos {
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 5px;
}

.footer__titulos::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 60px;
    height: 3px;
    background: var(--blanco);
    z-index: 1;
}

.footer__rrss {
    text-decoration: none;
}

.footer__iconRRSS {
    color: var(--blanco);
    font-size: 1.5rem;
    padding: 10px;

    text-decoration: none;
    transition: all .3s ease-in-out;
    margin: 0 10px 10px 10px;
}

.footer__iconRRSS:hover {
    color: var(--gris);
    background-color: var(--blanco);
}

.footer__enlaces {
    display: block;
    text-decoration: none;
    color: var(--blanco);
    transition: transform 0.3s ease;
}

.footer__enlaces:hover {
    transform: translateX(5px);
}

.footer__contacto {
    flex-direction: row;
    align-items: center;
}

.contacto__icon {
    font-size: 1.5rem;
}

.footer__logos {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.footer__logo {
    height: 100px;
    object-fit: contain;
}

.seccion__copyright {
    color: var(--blanco);
    font-weight: 600;
    background-color: var(--gris-oscuro);
    text-align: center;
    padding: 10px;
}

/*=====  End of FOOTER  ======*/